<!DOCTYPE html>   
<html>   
<head>  
    <meta name="viewport" content="width=device-width, initial-scale=1">  
    <title> Sign in Page </title>  
</head>    
<body>    
    <center> <h1> Sign in</h1> </center>   
    <form id="signin_form" action="/register-user/" method="post">  
        <div>   
            <label style="margin-left: 25px" > Email : </label>   
            <input type="text" placeholder="Enter Email" name="email" required><br><br>
            <label>Password :</label>   
            <input type="password" placeholder="Enter Password" name="password" required><br> <br> 
            <button type="submit" style="color:blue;text-align:center; margin-left: 75px ">Sign in</button>
            <input type="button" onclick="location.href='/login/';" value="Login" style="color:blue;"/>   
        </div>   
    </form>     
</body>   
<script src="https://code.jquery.com/jquery-3.5.1.js" integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" crossorigin="anonymous"></script>
<script type="text/javascript">
    $('#signin_form').submit(function(event){
        event.preventDefault();
        var sndata = {"referal_code": {{referal_code}}}
        $(this).serializeArray().map(function(x){sndata[x.name] = x.value;});
        $.ajax({
          url: $('#signin_form').attr('action'),
          type: 'POST',
          data : sndata,
          dataType: 'json',
          success: function(data){
            console.log(data)
            if(data.status == 1){
                window.location.href = "/dashboard/";
            }else{
                alert(data.error_info)
            }
          }
    },"json");
    return false;
});
</script>  
</html>  