<!DOCTYPE html>   
<html>   
<head>  
    <meta name="viewport" content="width=device-width, initial-scale=1">  
    <title> Sign Up Page </title>  
</head>    
<body>    
    <center> <h1> Sign Up</h1> </center>  
    {% for a in r %}
        {{a.username}}
    {% endfor %} 
    <form id="signup_form" action="/signup/" method="post">  
        <div>   
            <label> Username : </label>   
            <input type="text" placeholder="Enter username" name="username" required><br><br>
            <label>Password :</label>   
            <input type="password" placeholder="Enter Password" name="password" required><br> <br> 
            <button type="submit" style="color:blue;text-align:center; margin-left: 75px; margin-right: 10px ">Sign Up</button>
            <input type="button" onclick="location.href='/login/';" value="Login" style="color:blue;"/>   
        </div>   
    </form>     
</body>   
<script src="https://code.jquery.com/jquery-3.5.1.js" integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" crossorigin="anonymous"></script>
<script type="text/javascript">
    $('#signup_form').submit(function(event){
        event.preventDefault();
        var sndata = {"referal_code": {{referal_code}}}
        $(this).serializeArray().map(function(x){sndata[x.name] = x.value;});
        $.ajax({
          url: $('#signup_form').attr('action'),
          type: 'POST',
          data : sndata,
          dataType: 'json',
          success: function(data){
            console.log(data)
            if(data.status == 1){
                window.location.href = "/dashboard/";
            }else{
                alert(data.error_info)
            }
          }
    },"json");
    return false;
});
</script>  
</html>  